@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632ee3;
  --color-secondary: #e9e9e9;
}

/* Custom gradient */
.btn-primary {
  @apply bg-linear-to-r from-[#632EE3] to-[#ab89db] border-none text-white;
}

.btn-primary:hover {
  @apply opacity-90;
}

.text-primary {
  @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
}
ul a.active {
  border-bottom: 2px solid #632ee3;
  color: #632ee3;
  font-weight: medium;
}

body {
  font-family: monospace;
}
